@import "tailwindcss";

/* Your custom styles below this line */

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

/* Subtle paper texture */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: radial-gradient(#e6e6e3 0.8px, transparent 1px);
  background-size: 24px 24px;
  opacity: 0.35;
  pointer-events: none;
  z-index: 0; /* change this */
}

body {
  position: relative;
  z-index: 1;
}
